<!doctype html>
<html>

<head>
    <meta name="ac:route" content="/">
    <script src="dmxAppConnect/dmxAppConnect.js"></script>
    <base href="/">
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <link rel="stylesheet" href="fontawesome4/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="dmxAppConnect/dmxValidator/dmxValidator.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
    <script src="dmxAppConnect/dmxValidator/dmxValidator.js" defer=""></script>
    <link rel="stylesheet" href="dmxAppConnect/dmxDatePicker/daterangepicker.min.css" />
    <script src="dmxAppConnect/dmxDatePicker/daterangepicker.min.js" defer=""></script>
    <link rel="stylesheet" href="dmxAppConnect/dmxDatePicker/dmxDatePicker.css" />
    <script src="dmxAppConnect/dmxDatePicker/dmxDatePicker.js" defer=""></script>

    <script src="dmxAppConnect/dmxFormatter/dmxFormatter.js" defer=""></script>
    <link rel="stylesheet" href="dmxAppConnect/dmxBootstrap4TableGenerator/dmxBootstrap4TableGenerator.css" />
    <link rel="stylesheet" href="../dmxAppConnect/dmxDatePicker/bgthemes/dark-calendar.css" />
    <link rel="stylesheet" href="bootstrap/4/minty/bootstrap.min.css" />
    <link rel="stylesheet" href="dmxAppConnect/dmxNotifications/dmxNotifications.css" />
    <script src="dmxAppConnect/dmxNotifications/dmxNotifications.js" defer=""></script>
    <script src="dmxAppConnect/dmxBootstrap4Alert/dmxBootstrap4Alert.js" defer=""></script>
    <script src="dmxAppConnect/dmxBootstrap4Tooltips/dmxBootstrap4Tooltips.js" defer=""></script>
</head>

<body is="dmx-app" id="index">
    <dmx-array id="detailsForTable"></dmx-array>

    <dmx-array id="drugsForDateTable"></dmx-array>
    <dmx-array id="datesForTable"></dmx-array>
    <dmx-array id="usersForTable"></dmx-array>
    <dmx-notifications id="notifies" position="bottom"></dmx-notifications>
    <dmx-serverconnect id="insert_consumption" url="api/Insert/insert_consumption" noload dmx-on:success="notifies.success('Consumption registered');get_users.load({},true);get_dates.load({},true);get_entries.load({},true)"
        dmx-on:error="notifies.danger('Check your input')">
    </dmx-serverconnect>

    <dmx-serverconnect id="get_drugs" url="api/Details/get_drugs" dmx-on:success="drugsForDateTable.add(get_drugs.data.query)"></dmx-serverconnect>
    <dmx-serverconnect id="get_users" url="api/Details/get_users" dmx-on:success="usersForTable.add(get_users.data.query)"></dmx-serverconnect>

    <dmx-serverconnect id="get_entries" url="api/Details/get_entries" dmx-on:success="run([{run:{action:`detailsForTable.add(get_entries.data.combined)`}},{runJS:{function:'createTable'}}])"></dmx-serverconnect>
    <dmx-serverconnect id="get_dates" url="api/Details/get_dates"></dmx-serverconnect>
    <section class="container-fluid" id="header">
        <header class="navbar-light pt-1 pb-1">
            <h3 class="mt-0 mb-0 pt-0 pb-0 text-monospace text-left font-weight-bold">V.A.G.I.N.A - Drug App</h3>
        </header>
    </section>
    <section id="input" class="container-fluid mt-2 mb-0">


        <dmx-array id="selection" dmx-on:updated="run({runJS:{function:'logThis'}})"></dmx-array>
        <dmx-value id="UserSelection"></dmx-value>
        <h4 class="style1">Submit a drug consumption</h4>
        <div class="row">
            <div class="col-2 pr-0">
                <select id="user" class="form-control" name="user" dmx-bind:options="get_users.data.query" optiontext="first_name+' '+last_name" optionvalue="id" data-msg-required="" dmx-on:updated="UserSelection.setValue(value)">
                    <option selected="" value="">Select user</option>
                </select>
                <button id="add" class="btn btn-outline-success mt-3" dmx-on:click="insert_consumption.load({id: UserSelection.value, drugs: selection.items, date: date.value})">Submit</button></div>
            <div class="col-NaN col-1 ml-3">
                <div class="row row-cols-1" is="dmx-repeat" id="repeat1" dmx-bind:repeat="get_drugs.data.query" key="id">
                    <div class="col ml-3 pl-0 pr-0">
                        <script is="dmx-flow" id="flow" type="text/dmx-flow">{
  condition: {
    if: "{{checked.value == 0}}",
    then: {
      steps: {
        run: {action: "{{selection.add(name);checked.setValue(1)}}"}
      }
    },
    else: {
      steps: {
        run: {action: "{{selection.remove(name);checked.setValue(0)}}"}
      }
    }
  }
}</script>
                        <dmx-value id="checked" dmx-bind:value="0"></dmx-value>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="input1" name="input1" dmx-on:click="run({run:{action:`flow.run({})`}})" dmx-bind:value="name">
                            <label class="form-check-label" for="input1" dmx-text="name">Default checkbox</label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-NaN ml-5 pl-0">
                <input id="date" name="date" is="dmx-date-picker" placeholder="Select date" opens="center" data-msg-required="">
            </div>
        </div>
    </section>
    <section id="view" class="container-fluid mt-3">





        <h4 class="style1">Consumption log</h4>
        <div class="row" id="first">
            <div class="col border-right">
                <h6 class="text-center">Date</h6>
            </div>
            <div class="col border-right text-center" dmx-repeat:some="get_users.data.query">
                <h6 dmx-text="first_name" class="flex-shrink-1"></h6>
            </div>
        </div>
    </section>
    <script src="bootstrap/4/js/popper.min.js"></script>
    <script src="bootstrap/4/js/bootstrap.min.js"></script>
    <script>
        function logThis(){
            // <h5 dmx-text="get_entries.data.combined[0].drugs" dmx-bs-tooltip="drugs">Fancy display heading</h5>
            var x = dmx.parse('selection.items');
            console.log('items: ', x);
        }
        var index = 0;
        var GLOBAL_DETAILS = [];//do not modify unless you understand the code;
        var GLOBAL_USERS = [];//same for this;
        var PROCESSED_DATES = [];
        function createTable(){

            GLOBAL_DETAILS = dmx.parse('detailsForTable.items');
            GLOBAL_USERS = dmx.parse('usersForTable.items');

            var uniqueIndex = 0;

            console.log(GLOBAL_DETAILS);

            while(index < GLOBAL_DETAILS[0].length){
                var date = GLOBAL_DETAILS[0][index].date; //.slice(0, 10);
                console.log('processing date:', date.slice(0, 10));

                if(PROCESSED_DATES.indexOf(date) == -1){
                    rowForDate(date, uniqueIndex);
                    PROCESSED_DATES.push(date);
                    uniqueIndex++;
                }

                index++;
            }
            index = 0;
            uniqueIndex = 0;
            dmx.parse('detailsForTable.empty()');
            dmx.parse('usersForTable.empty()');
        }

        function rowForDate(date, index){
            var userID = 0;

            var row = document.createElement('div');
            var dateElement = document.createElement('div');
            var dateValue = document.createElement('h6');

            row.id = 'tableRow'+index;
            row.className = 'row';
            dateElement.className = 'col border-right text-center';
            dateValue.innerHTML = date.slice(0, 10);

            dateElement.appendChild(dateValue);
            row.appendChild(dateElement);

            for(var i = 0; i < GLOBAL_USERS[0].length; i++){
                var col = document.createElement('div');
                col.className = 'col border-right text-center';
                col.id = 'tableColumn'+index+''+i;
                userID = GLOBAL_USERS[0][i].id;
                var drugs = findDetailsForUser(userID, date);
                var text = document.createElement('h6');
                text.className = 'text-center';

                if(drugs != null){
                    var dr = drugs.split(',');
                    text.innerHTML = dr.length;
                    text.setAttribute('dmx-bs-tooltip', drugs);
                } else {
                    text.innerHTML = 0;
                }

                col.appendChild(text);
                row.appendChild(col);
                console.log(drugs, 'for', userID);
                
            }
            if(index == 0){
                var toAppendAfter = document.getElementById('first');
                insertAfter(row, toAppendAfter);
                console.log('inserted new row...');
            } else {
                var previous = index - 1;
                var toAppendAfter = document.getElementById('tableRow'+previous);
                insertAfter(row, toAppendAfter);
                console.log('inserted new row...');
            }
            
        }

        function insertAfter(newNode, existingNode) {
            existingNode.parentNode.insertBefore(newNode, existingNode.nextSibling);
        }

        function findDetailsForUser(userID, date){
            console.log('finding details for user', userID, 'on', date);
            for(var j = 0; j < GLOBAL_DETAILS[0].length; j++){
                if(userID == GLOBAL_DETAILS[0][j].id && date == GLOBAL_DETAILS[0][j].date){
                    console.log('found...');
                    return GLOBAL_DETAILS[0][j].drugs;
                }
            }
            console.log('didnt find...');
            return null;
        }

        function reverseDate(date){

        }
    </script>
</body>

</html>